# A/B testing with Ratio Metrics

This notebook provides two methods of conducting A/B tests with Ratio Metrics and highlights the advantages of linearisation method over the delta method. At the end of the notebook we show the sizing formula that ensures that the delta method can be applied and the results can be trusted.

In [21]:
import sys, os

root_path = os.path.realpath('..')
sys.path.insert(0, root_path)

import numpy as np

from tw_experimentation.utils import ExperimentDataset
from tw_experimentation.data_generation import SimpleClickThroughRate


import warnings
warnings.filterwarnings('ignore')

%load_ext autoreload
%autoreload 2

# generating synthetic data for ease of exposition
# here you can replace the ctr with your own data
ctr = SimpleClickThroughRate()

np.random.seed(40)


df = ctr.generate_data(
        n_users=1000,
        visits_lam=10,
        visits_lam_treat_effect=2,
        baseline_clickthrough=0.5,
        treatment_effect_clickthrough=0.1,
        treatment_share=0.5,
        seed=0,
    )

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [22]:
df.drop(columns=['Y'], inplace=True)

In [23]:
df.head()

   T  clicks  visits                date
0  1       8      13 2022-01-28 19:25:00
1  1       6      12 2022-02-04 13:16:00
2  1       8      12 2022-01-09 12:07:00
3  1       8      13 2022-01-30 12:12:00
4  0       4       8 2022-02-20 05:04:00

In [24]:
df.to_csv('ratio.csv')

In [25]:
experiment = ExperimentDataset(
    data=df,
    variant='T',
    ratio_targets={'tfr': ('clicks', 'visits')}
)

In [26]:
experiment.preprocess_dataset()
experiment.data.head()

   T  clicks  visits                date       tfr
0  1       8      13 2022-01-28 19:25:00  1.515023
1  1       6      12 2022-02-04 13:16:00  0.013867
2  1       8      12 2022-01-09 12:07:00  2.013867
3  1       8      13 2022-01-30 12:12:00  1.515023
4  0       4       8 2022-02-20 05:04:00  0.009245

In [27]:
experiment.metric_types

{'tfr': 'continuous'}